html, body, main {
  height: 100%; }

.flexChildCenter {
  margin: auto; }

.navbar {
  margin-bottom: 0;
  background: #fff;
  border: none;
  border-radius: 0;
  width: 100%;
  color: #212121; }

.btn {
  border-radius: 4px; }

.btn-success {
  background: #8BC34A; }

.btn-primary {
  background: #2196F3; }

.btn-submit {
  width: 100px; }

.container--background {
  background: white;
  padding: 40px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.signupMain {
  display: flex;
  background: #8BC34A;
  color: #212121;
  overflow: auto;
  padding: 50px; }

.pollsMain {
  padding-top: 60px;
  background: #2196F3;
  color: #fff; }

.hero {
  height: 300px;
  background: #2196F3;
  display: flex;
  align-items: center;
  color: #fff; }

.info .container {
  margin-top: 40px; }

.list-item--poll {
  margin-bottom: 20px !important;
  word-wrap: break-word;
  color: #212121; }

.votes-badge {
  margin-left: 10px; }

.row--option {
  margin-bottom: 10px; }
