<div class="container container--background">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h1 class="text-center">Poll:</h1>
            <p class="lead text-center">"{{vm.poll.question}}"</p>
            <p>Created by {{vm.poll.username}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <svg class="graph"></svg>
        </div>
    </div>

    <form method="POST" action="" ng-show="!vm.voted">
        <div class="row row--option" ng-repeat="option in vm.poll.options">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="btn btn-default btn-block btn-lg radio" ng-click="vm.clickRadio(option.name)">
                    <label for="vote">
                        <input type="radio" name="vote" id="{{option.name}}" value="{{option.name}}" ng-model="vm.vote">
                        {{option.name}}
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <input type="submit" class="btn btn-primary btn-block btn-lg" value="Vote!" ng-click="vm.castVote(vm.vote, $event)">
            </div>
        </div>
    </form>

    <div class="row" ng-hide="!vm.voted">
        <div class="col-xs-12">
            <p class="lead text-center thanks">
                Thanks for voting!
            </p>
        </div>
    </div>

    <div class="row" ng-if="vm.username === vm.poll.username">
        <div class="col-md-2 col-md-offset-10">
            <a href="" class="text-danger">Delete Poll</a>
        </div>
    </div>
</div>