<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">Poll: {{vm.poll.question}}</h1>
        </div>
    </div>

    <div class="row row--option" ng-repeat="option in vm.poll.options">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="btn btn-default btn-block btn-lg radio" ng-click="vm.clickRadio(option.name)">
                <label for="vote">
                    <input type="radio" name="vote" id="{{option.name}}" value="{{option.name}}">
                    {{option.name}}
                </label>
            </div>
        </div>
    </div>
</div>