.row--option {
    margin-bottom: 10px;
}

.graph {
    width: 100%;
    height: 500px;
    margin-bottom: 40px;
}

.bar {
    width: 50px;
    border: 2px solid $primary-color;
    display: inline-block;
}

.row--new-option {
    margin-bottom: 20px;
}