<div class="container container--background">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h1 class="text-center">Poll:</h1>
            <p class="lead text-center">"{{vm.poll.question}}"</p>
            <p>Created by {{vm.poll.username}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <svg class="graph"></svg>
        </div>
    </div>

    <form method="POST" action="" ng-show="!vm.voted" name="voteForm" id="voteForm">
        <div class="row row--option" ng-repeat="option in vm.poll.options">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="btn btn-default btn-block btn-lg radio" ng-click="vm.clickRadio(option.name)">
                    <label for="vote">
                        <input type="radio" name="vote" id="{{option.name}}" value="{{option.name}}" ng-model="vm.vote">
                        {{option.name}}
                    </label>
                </div>
            </div>
        </div>

        <div class="row row--new-option">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="btn btn-default btn-block btn-lg radio" ng-click="vm.clickRadio('new-option-radio'); vm.addNewOption = true">
                    <label for=" vote">
                        <input type="radio" name="vote" id="new-option-radio" value="newOption" ng-model="vm.vote">
                        Add New Option
                    </label>
                </div>
            </div>
        </div>

        <div class="row" ng-show="vm.addNewOption">
            <div class="col-sm-6 col-sm-offset-3 text-center">
                <div class="form-group">
                    <label for="new-option">Add New Option</label>
                    <input type="text" name="new-option" id="new-option" ng-model="newOption" class="form-control" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <input type="submit" class="btn btn-primary btn-block btn-lg" value="Vote!" ng-click="vm.castVote(vm.vote, $event)">
            </div>
        </div>
    </form>

    <div class="row" ng-hide="!vm.voted">
        <div class="col-xs-12">
            <p class="lead text-center thanks">
                Thanks for voting!
            </p>
        </div>
    </div>

    <div class="row" ng-if="vm.username === vm.poll.username">
        <div class="col-md-2 col-md-offset-10">
            <a href="" class="text-danger" data-toggle="modal" data-target="#confirmation-dialogue">Delete Poll</a>
        </div>
    </div>

    <div class="modal fade confirmation-dialogue" tabindex="-1" role="dialog" aria-labelledby="confirmation-dialogue" id="confirmation-dialogue">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body text-center">
                    Are you sure you want to delete this poll? This is <strong class="text-danger">irreversible.</strong>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" ng-click="vm.deletePoll(vm.poll._id)">Yes, Delete My Poll</button>
                    <button class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>