<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <ul class="list-group">
            <li class="list-group-item list-item--poll" ng-repeat="poll in vm.polls | filter: filterText">
                <span class="badge votes-badge">{{vm.calculateVotes(poll)}}</span>
                <a ng-href="{{'#!/view-poll/' + poll._id}}"><span>{{poll.question | limitTo: 60}}</span></a>
                <span class="pull-right votes-badge-label">Votes:</span>
            </li>
        </ul>
    </div>
</div>