<div class="container container--background">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">New Poll</h1>
        </div>
    </div>

    <form method="POST" action="" id="poll-form">
        <div class="row">
            <div class="col-xs-12 form-group">
                <label for="question">What's the question?</label>
                <input type="text" name="question" id="question" class="form-control" ng-model="question">
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-xs-12 text-center">
                    <label for="options-number">How many options to choose from? (enter any number)</label>
                </div>
                <div class="col-md-2 col-md-offset-5">
                    <input type="number" name="options-number" id="options-number" class="form-control" ng-model="optionsNumber">
                </div>
            </div>
        </div>

        <div class="row" ng-repeat="num in vm.getNumber(optionsNumber) track by $index">
            <div class="form-group col-md-6 col-md-offset-3">
                <label for="{{'option' + ($index + 1) }}">Option {{$index + 1}}</label>
                <input type="text" name="{{'option' + ($index + 1)}}" id="{{'option' + ($index + 1)}}" class="form-control">
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <input type="text" class="btn btn-success btn-lg btn-block" value="Roll It!" ng-click="vm.postPoll(question, optionsNumber, $event)">
            </div>
        </div>
    </form>
</div>